
body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
}

main {
    padding: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#balanceChart {
  display: flex;
  align-items: flex-end;
  height: 30px;
  overflow-x: auto;
  margin-top: 20px;
}

.bar {
  width: 5px;
  background-color: #4caf50;
  margin-right: 100px;
}

.chart-container {
  width: 800px; /* Set the desired width */
  height: 400px; /* Set the desired height */
}


footer {
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 10px;
}
